.hero.contacto::before{
    background-image: linear-gradient(180deg, #00000077 0%, #00000077 100%), url("../assets/img/fondo-hero-piedras.png");
} 

/* Formulario con estilos modificados de Bootstrap */

form .row {
    justify-content: center;
}

h2> .subtitle{
    text-align: center;
}

.contenedor form{
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-label{
    font-weight: 600;
    color: var(--background16);
    margin-top: 1.5rem;
}

.form-control {
    border: 3px solid var(--background16);
    border-radius: 16px;
}

.form__paragraph{
    text-align: center;
}

.form-check{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--background16);
    font-weight: 600;
}

.form-check-input{
    border: 3px solid var(--background9);
}

.form-check-input[type=checkbox]:checked{
    background-color: var(--background9);
}

.form-check-input:checked{
    border: 3px solid var(--background16);
}

.form-control:focus{
    border: 3px outset rgb(245, 70, 102);
}