.hero.cursos::before{
    background-image: linear-gradient(180deg, #00000077 0%, #00000077 100%), url("../assets/img/boys1.png");
}

/* cursos */

.curso{
    background-color: #ffffff;
    background: var(--background-gradient2);
}

/* Precios de Cursos-sección price */


.price>.subtitle{
    margin-top: 1rem;
    padding-top: 2rem;
}

.price__table{
    padding-top: 3.75rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: space-evenly;
    /* align-items: center; */
    text-align: center;
}

.price__name{
    color: var(--background9);
    font-size: 2rem;
    font-weight: 600;
}

.price__name__bold{
    font-size: 1rem;
    font-weight: 600;
    font-style: italic;
}

.price__price{
    font-size: 1.8rem;
    color: var(--background22);
}

.price__features{
    padding: 0 1rem;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 400;
}

.price__cta{
    width: 70%;
    display: block;
    text-align: center;
    background:var(--background1);
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-bottom:1rem;
    border-radius: 15px;
    position: relative;
    left: 0 auto;
    top: 1rem;
}

.price__cta:hover{
    background-color: var(--background16);
    box-shadow: var(--box-shadow1);
    color: #ffffff;
}

/* Sección Opiniones/Testimony */

.testimony{
    background: var(--background-gradient7);
    color: #ffffff;
    font-size: 1rem;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}


.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__subtitle{
    color: var(--background17);
}

.testimony__img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: var(--background16);
    color: white;
    display: inline-block;
    padding: 0.6rem;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}

.testimony__arrow> img{
    color: #ffffff;
}