
.hero.productos::before{
    background-image: linear-gradient(180deg, #00000077 0%, #00000077 100%), url("../assets/img/nebula-hero.png");
}

.carrousel-container{
    background: var(--background-gradient3);
}



.carousel-inner{
    box-shadow: 3px -1px 61px 9px rgba(219,216,227,0.88);
-webkit-box-shadow: 3px -1px 61px 9px rgba(219,216,227,0.88);
-moz-box-shadow: 3px -1px 61px 9px rgba(219,216,227,0.88);
}

.carousel-control-prev-icon{
    font-weight: 700;
    color: var(--background10);
}

.carousel-item img{
    max-height: 500px; 
}

