
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --padding-container:100px 0;
    --color-title: #001A49;
    --background1: #4a123c;
    --background2: #15d1dc;
    --background3: #081f4a;
    --background4: #e84cc6;
    --background5: #07235e;
    --background6: #fc0509;
    --background7: #b72d75;
    --background8: #fd0950;
    --background9: #882a64;
    --background10: #048a95;
    --background11: #04c6cf;
    --background12: #2b1b24;
    --background13: #ca485f;
    --background14: #451d29;
    --background15: #fede57;
    --background16: #830456;
    --background17: #02113c;
    --background18: #a4049d;
    --background19: #d1fed6;
    --background20: #f4244b;
    --background21: #56abb4;
    --background22: #f60269;
    --background23: #dbd8e3;
    --background-gradient1: linear-gradient(68.2deg, rgb(7, 3, 98) -0.1%, rgb(179, 26, 132) 47.7%, rgb(239, 186, 83) 100.2%);
    --background-gradient2: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);
    --background-gradient3: linear-gradient(111.9deg, rgb(221, 49, 49) 0.3%, rgb(0, 8, 119) 100.7%);
    --background-gradient4: linear-gradient(65.5deg, rgb(23, 205, 205) -15.1%, rgb(23, 25, 95) 71.5%);
    --background-gradient5: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
    --background-gradient6: linear-gradient(180.8deg, rgb(139, 10, 130) 6.9%, rgb(73, 6, 70) 73.2%);
    --background-gradient7: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
    --background-gradient8: linear-gradient(180.8deg, rgb(54, 4, 51) 6.9%, rgb(22, 1, 21) 73.2%);
    --box-shadow1:  -5px -5px 20px 10px rgba(237, 151, 245, 0.356);
    --box-shadow2: -5px -5px 30px 18px rgba(69, 40, 94, 0.397);
}

*{
    margin:0;
	padding: 0;
	border:0;
	box-sizing: border-box;
    scroll-behavior: smooth;
}


body{
    background-color: var(--background23);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.contenedor{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

/* Hero section*/

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #ffffff;

}

.hero::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #00000077 0%, #00000077 100%), url("../assets/img/gaming-setup-5.png");
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 95%, 0 80%);
    z-index: -1;
}


/* Nav Section*/

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title{
    font-weight: 600;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 1em;
    position: relative;
}

.nav__items{
    list-style: none;
}

.nav__links{
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-right: 0.5rem;
    padding: 0.3rem 0.5rem;
}

.nav__links:hover{
    color: #ffffff;
    border-radius: 15px;
    background: var(--background16);
    margin-right: 0.5rem;
    padding: 0.3rem 0.5rem;
    box-shadow: var(--box-shadow1);
    transition: .5s ease-in-out;
}

.nav__logo img{
    display: inline-block;
    padding-top: 1rem;
    width: 9rem;
}

.nav__logo a{
    list-style: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width:30px;
    display: none;
}

.nav__close{
    display: var(--show, none);
}


/* Hero Container */

.hero__container{
    max-width: 800px;
    display: grid;
    --padding-container:0;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title{
    font-size: 3rem;
}

.hero__paragraph{
    margin-bottom: 1.2rem;
}

.cta{
    display: inline-block;
    text-align: center;
    background-color: var(--background1);
    color: #ffffff;
    justify-self: center;
    text-decoration: none;
    padding: 0.8rem 2rem;
    border-radius: 32px;
}

.cta:hover{
    background-color: var(--background16);
    box-shadow: var(--box-shadow1);
    color: #ffffff;
}

/* About */

.about{
    text-align: center;
}

.subtitle{
    color:var(--background3);
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.about__paragraph{
    line-height: 1.7;
}

.about__main{
    padding-top: 5rem;
    padding-bottom: 2rem;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 2em;
    /* overflow: hidden; */
    grid-template-columns: repeat(auto-fit, minmax(230px, auto));
}

.about__icons{
    display: grid;
    gap: 2em;
    justify-items: center;
    width: 15rem;
    overflow: hidden;
    margin: 1rem 0;
    /* margin: 0 auto; */
    padding: 2rem 0.8rem;
    background-color: #fffffff1;
    border-radius: 10px;
    /* box-shadow: rgba(139, 148, 147, 0.753) 0px 5px 15px; */
    box-shadow: var(--box-shadow2);
}

.about__icon{
    width: 40px;
}

.about__icon__plus{
    width: 30px;
}

/* Section banner */

.banner{
    background-color: #ffffff;
    background: var(--background-gradient7);
}

.banner__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    align-items: center;
}

.banner__picture{
    max-width: 500px;
}

.banner__img{
    width: 100%;
    display: block;
}

.banner__paragraph{
    line-height: 1.7;
    margin-bottom: 1.5rem;
}

.banner__texts{
    font-size: 1em;
    line-height: 1.7;
}

/* Footer */

.footer{
    background: var(--background-gradient8);
}


.footer__title, .footer__newsletter{
    color: #ffffff;
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 1.87rem;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 3.75rem;
}

.nav--footer{
    padding-bottom: 1.25rem;
    display: grid;
    /* grid-template-columns: 1fr; */
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-left: 1.4rem;
    flex-wrap: wrap;
}

.footer__inputs{
    margin-top: .5rem;
    display: flex;
    overflow: hidden;
    justify-content: space-around;
}

.footer__input{
    background-color: #ffffff;
    height: 3.12rem;
    display: block;
    padding-left: 0.5rem;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 1rem;
}

.footer__form form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer__submit{
    margin: auto;
    display: inline-block;
    height: 3.12rem;
    padding: 0 1.25rem;
    background-color: var(--background16);
    border: none;
    font-size: 1rem;
    color: #ffffff;
    border-radius: 6px;
}

.footer__copy{
    --padding-container: 1.87rem 0;
    text-align: center;
    color: #ffffff;
}

.footer__copyright{
    font-weight: 300;
    font-size: 1rem;
}

.footer__icons{
    margin-bottom: .5rem;
    font-size: 1rem;
}

.footer__img{
    width: 1.87rem;

}